/* Button for selecting the category */
.cattab{
    left: 0px;
    top: 0px;
    padding: 5px 5px;
    height: 25px;
    width: 160px;
    margin-bottom: 5px;
    margin-top: 0x;
    font-size: 12px;
    color: white;
    border: 0px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    background: #333840;
    /*border-radius: 11px 0 0px;*/
    outline: #00A000;
    transform: skew(1deg);
    position:relative;
    z-index: 0;
    font-family: sans-serif;
    /*filter:drop-shadow(0px 0px 3px rgba(240, 33, 33, 0.45));*/
    /*text-align: right;*/
    cursor: pointer;
    cursor: hand;
    /*font-weight: bold;*/
    text-align: left;
}

.subcattab{
    left: 0px;
    top: 0px;
    padding: 0px 5px;
    height: 20px;
    width: 155px;
    margin-bottom: 6px;
    font-size: 13px;
    color: #EEEEEE;
    border: 1px solid #000000;
    border: 0px;
    background: linear-gradient(to left, #484C54, #333840);/*#484C54;*/
    background: #484C54;
    border-radius: 0px 0 0px 0;
    outline: #00A000;
    transform: skew(1deg);
    position:relative;
    z-index: 0;
    font-family: sans-serif;
    /*filter:drop-shadow(0px 0px 3px rgba(240, 33, 33, 0.45));*/
    border-right: 2px solid #303030;
    cursor: pointer;
    cursor: hand;
    text-align: right;
}

.subcattab:hover
{
    /*background: linear-gradient(to left, rgb(88, 0, 0), #484C54);*/
    /*background: #686C74;*/
    font-weight: bold;
}

.subcattabactive
{
    background: linear-gradient(to left, #282C34, #484C54);
    background: linear-gradient(to left, rgb(147, 0, 0), #484C54);
    /*background: rgb(117, 0, 0);*/
    font-weight: bold;
}

.tab button{
    left: 220px;
    top: 335px;
    padding: 2px 0px;
    width: 100px;
    font-size: 13px;
    color: white;
    border: 1px solid #282C34;
    background: #282C34;
    border-radius: 11px 0 0px;
    outline: #00A000;
    transform: skew(1deg);
    position:relative;
    z-index: 0;
    margin: 0px;
    font-family: sans-serif;
    /*filter:drop-shadow(0px 0px 3px rgba(240, 33, 33, 0.45));*/
    cursor: pointer;
    cursor: hand;
}

.tab button:hover
{
    background: radial-gradient(rgb(117, 0, 0), #282C34);
}

.tab button.active
{
    background-color: rgb(175, 2, 2);
    background: linear-gradient(#282C34, rgb(175, 2, 2));
    border: 1px solid red;
	/*box-shadow: inset 1px 1px 1px #000000;
    background: linear-gradient(#282C34, #202020);*/
}

.tabplot button{
    left: 0px;
    top: 0px;
    padding: 2px 0px;
    width: 100px;
    font-size: 12px;
    color: white;
    border: #f10d0d;
    background: #333840;
    border-radius: 0px 0 0px;
    outline: #00A000;
    transform: skew(1deg);
    position:relative;
    z-index: 0;
    margin: 0px;
    font-family: sans-serif;
    /*filter:drop-shadow(0px 0px 3px rgba(240, 33, 33, 0.45));*/
    cursor: pointer;
    cursor: hand;
}

.tablink button
{
    cursor: pointer;
    cursor: hand;
    text-align: center;
    overflow: hidden;
    margin:4px;
    border-radius: 4px 4px 4px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 2px;
    border: solid 1px #404040;
    height: 20px;
	line-height: 20px;
    color: #FFFFFF;
    background: linear-gradient(#282C34, #000000);
}

.tablink button:hover
{
    background: linear-gradient(#282C34, #202020);
}

.tablink button:active
{
	box-shadow: inset 1px 1px 1px #000000;
    background: linear-gradient(#282C34, #202020);
}