.maindiv {
    background-color: #484C54;
    position: absolute;
    height: 1800px; top: 0px; right: 0px; left: 0px;}

.banner {
    background-image: url("images/logo_ivelo.png");
    background-size: 170px 90px;
    position: absolute;
    left: 25px; top: 0px; width: 140px; height: 75px; }

.head{
    position: absolute;
    left: 235px; top: 22px;
    font-size: 28px;
    color: #FFFFFF;}

.version{
    position: absolute;
    left: 65px; top: 50px;
    font-size: 13px;
    color: #AAAAAA;}

.info{
    position: absolute;
    overflow: clip;
    left: 240px; top: 40px; width: 1260px;
    font-size: 14px;
    color: #AAAAAA;}

.author{
    position: absolute;
    overflow: clip;
    left: 1255px; top: 35px; width: 260px;
    font-size: 12px;
    color: #AAAAAA;
    text-align: end;}

.filterlabel{
    position: absolute;
    overflow: clip;
    left: 15px;
    top: 134px;
    font-size: 12px;
    width: 60px;
    background: #484C54;
    color: #FFFFFF;
    text-align: center;}

.roundcorners{
	border:1px solid #282C34;
    border-radius: 4px 4px 4px 4px;}

.infobox{
    position: relative;
    left: 40px;
    top: 25px;
    width: 200px;}

.infoboxentry{
    color: white;
    font-family: sans-serif;
    position: relative;
    font-size: 12px;}

.infobox2{
    position: absolute;
    left: 330px;
    top: 47px;
    width: 300px;}

.tablinkplot{
    left: 0px; top: 0px; padding: 2px 0px; width: 100px;
    font-size: 13px;
    color: white;
    border: #f10d0d;
    background: #282C34;
    border-radius: 0px 0 0px;
    outline: #00A000;
    transform: skew(1deg);
    position:relative;
    z-index: 0;
    margin: 0px;
    font-family: sans-serif;
    /*filter:drop-shadow(0px 0px 3px rgba(240, 33, 33, 0.45));*/}

.runsearch{
    position: absolute;
    top: 105px; left: 170px; width: 1170px; height: 25px;
    background-color: #333840;
    border-width: 2px;
    border-color: #282C34;
    color: #000000;
    font-family: sans-serif;
    padding: 4px;}

.browser{
    position: absolute;
    top: 80px; left: 170px; width: 1170px; height: 235px;
    background-color: #333840;
    border-width: 2px;
    border-color: #282C34;
    color: #000000;
    font-family: sans-serif;
    padding: 4px;}

.runs{
    position: absolute;
    top: 105px; left: 1355px; width: 160px; height: 655px;
    background-color: #333840;
    border-width: 2px;
    border-color: #282C34;
    color: #000000;
    font-family: sans-serif;
    padding: 4px;}

.tablediv{
    position:absolute;
    top: 330px;
    left: 170px;
    bottom: 8px;
    width: 1170px;
    height: 412px;
    overflow: visible;
    background-color:#333840;
    border-width: 2px;
    border-color: #282C34;
    color:#000000;
    font-family: sans-serif;
    padding:4px;}

.runcommand{
    position:absolute;
    top: 400px;
    left: 170px;
    bottom: 8px;
    width: 1170px;
    height: 112px;
    overflow: visible;
    background-color:#333840;
    border-width: 2px;
    border-color: #282C34;
    color:#000000;
    font-family: sans-serif;
    padding:4px;}


.asicdetail{
    position:absolute;
    top: 882px;
    left: 220px;
    bottom: 8px;
    right: 10px;
    height: 280px;
    width: 453px;
    overflow:visible;
    background-color:#333840;
    color:#000000;
    font-family: sans-serif;
    padding:4px;}

.issuetext{
    width:250px;
    height:60px;
    border-color: #000000;
    background-color: #434850;
    color: white;
    resize: none;
    border: solid 1px #282C34;}

/*.veloplots_header{
    position: absolute;
    top: 778px;
    left: 170px;
    height: 55px;
    width: 1325px;
    background-color: white;
    font-family: sans-serif;
}*/

.veloplot1{
    position:absolute;
    top: 778px;
    left: 170px;
    bottom: 8px;
    right: 10px;
    height: 390px;
    width: 660px;
    overflow:visible;
    background-color: #FFFFFF;/*#333840;*/
    color:#000000;
    font-family: sans-serif;
    padding:4px;}

.veloplot2{
    position:absolute;
    top: 778px;
    left: 845px;
    bottom: 8px;
    right: 10px;
    height: 390px;
    width: 660px;
    overflow:visible;
    background-color: #FFFFFF;/*#333840;*/
    color:#000000;
    font-family: sans-serif;
    padding:4px;}

.plotactive{
    border: 1px solid red;
    filter:drop-shadow(0px 0px 5px rgba(255, 0, 0, 1));
}

#velomap{
    position: absolute;
    top: 63px;
    width: 1158px;
    left: 5px;
    right: 7px;}

#prbsmap{
    position: absolute;
    top: 61px;
    width: 1158px;
    left: 5px;
    right: 7px;}

.leftdivup{
    position:absolute;
    top:68px;
    left:8px;
    width:210px;
    height: 45px;
    bottom:8px;
    overflow:hidden;}

.leftdiv{
    position:absolute;
    top: 105px;
    left:5px;
    width:160px;
    bottom:8px;
    height:730px;
    overflow:auto;
    /*background-color: #333840;*/}

.menutitle{
    left: 5px;
    top: 90px;
    width: 160px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    position: absolute;
    /*background: #333840;*/
    background: #484C54;
    font-size: 13px;}

.menu{
    border: 0px solid #000000;
    /*border-radius: 4px 4px 4px 4px;*/}

.dopt{
    position: absolute;
    top: 5px;
    height: 43px;
    width: 400px;
    border: 1px solid black;
    background-color: #333840;
    padding: 4px;
    color: white;
    font-size: 13px;}

.paramoptions{ left: 10px; }
.paramtitle{ position: absolute; top: -5px; color: #AAAAAA; font-size: 11px;}
.param_select_label{ position: absolute; top:10px; left: 15px;}
.param_equal_label{ position: absolute; top:10px; left: 235px; display:none}
.param_equal1{ width: 80px; margin-right: 10px}
.param_equal2{ width: 90px;}

.scanoptions{ left: 410px; }
.rtitle{ position: absolute; top: -5px; color: #AAAAAA; font-size: 11px;}

.coloroptions{ left: 680px; width: 470px;}
.colorscaletitle{ position: absolute; top: -5px; color: #AAAAAA; font-size: 11px;}
.colorscale_select_label{ position: absolute; top:10px; left: 15px;}
.colorscale_select{ width: 100px; }
.colorscale_input1_label{ position: absolute; top:10px; left: 210px;}
.colorscale_input1{ width: 70px}
.colorscale_input2_label{ position: absolute; top:10px; left: 330px;}
.colorscale_input2{ width: 70px;}

.b1i{ width: 145px;}
.b2i{ width: 145px;}
.bok{ width: 50px;}

.rightdiv{
    position:absolute;
    top:58px;
    right:8px;
    width:0px;
    bottom:8px;
    overflow:auto;}

/*.linkpanel{
    cursor: pointer;
    cursor: hand;
    color:#ffffff;
    position: absolute;
    right: 16px;
    top: 8px;
    height: 42px;
    line-height: 42px;}
*/
A:link {text-decoration: none; color:#FFFFFF; outline : none; border : 0;}
A:visited {text-decoration: none; color:#FFFFFF; outline : none; border : 0;}
A:active {text-decoration: none; color:#FFFFFF; outline : none; border : 0;}
A:hover {text-decoration: underline; color:#FFFFFF; outline : none; border : 0;}


.checklabel{
    overflow: visible;
    color: #FFFFFF;
    width: 150px;
    font-size: small;
    margin-left: 5px;
    margin-top: 10px;
    white-space:nowrap;}

.checksublabel{
    overflow: visible;
    position: relative;
    color: #FFFFFF;
    width: 150px;
    font-size: 11px;
    left: 15px;
    margin: 0px;
    white-space:nowrap;}

.label{
    font-family: sans-serif;
    font-size: small;
    overflow: hidden;
    color: #FFFFFF;
    margin:4px;
    width: 120px;}

.colorkey{
    font-family: sans-serif;
    font-size: small;
    overflow: hidden;
    color: #000000;
    margin: 4px;
    padding: 2px;
    width: 120px;}

select{
    font-family: sans-serif;
    font-size: small;
    overflow: hidden;
    margin:4px;
    width: 124px;}

.subselect{
    position: relative;
    left: 10px;
    width: 115px;}

.labelbold{
    font-weight: bold;}


table{
    border-width: 10px;
    table-layout:fixed;}

td{
    border-width: 0px;
    padding:0px;
    font-family: sans-serif;
    font-size: small;
    margin:4px;}

.velomap td:active{
    box-shadow: 1px 1px 6px #525252 inset;}

tr{
    border-width: 0px;
    padding:0px;}

th{
    border-width: 0px;
    padding: 4px;
    font-family: sans-serif;
    font-size: small;
    overflow: hidden;
    margin:4px;
    font-weight: bold;
    text-align: left;}

hr{
    height:1px;}

input[type=text]{
    margin: 4px;
    border:1px solid #808080;}

input[type=number]{
    margin: 4px;
    border:1px solid #808080;}

input[type=radio]{
    margin: 4px;
    margin-left: 4px;
    border:1px solid #f10d0d;
    width: 18px;}

.red{
	color: #FF0000;}

.green{
	color: #00C000;}

.redbg{
	background-color: #FF0000;}

.greenbg{
	background-color: #00A000;}

.cell{
    width: 5%;
    height: 10%;}

.asiccell{
    font-family: sans-serif;
    font-size: 8px;
    text-align: center;
    overflow: hidden;
    border:1px solid rgb(64, 64, 64);
    border-radius: 1px 1px 1px 1px; /*4px 4px 4px 4px;*/
    /*cursor: pointer;*/}

.asiccellfaded{
    opacity: 0.1;}

.groupname{
    font-family: sans-serif;
    font-size: 8px;
    text-align: center;
    overflow: hidden;}

.headingcell{
    text-align: center;
    color: #FFFFFF;}


.Agrade{
    background-color: #9bff99;/*#7bdf79*/;}


.Bgrade{
    background-color: #C8AA35;}

.Cgrade{
    background-color: #ff2222;}

.Dgrade{
    background-color: #333333;}

.Ablock{
    background-color: #71d56e;/*#51b54e;*/}

.Bblock{
    background-color: #B39520;}

.Cblock{
    background-color: #ba0b0b;}
